################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/JuegoPruebaTecnica/bin/Debug/net8.0
/.vs/JuegoPruebaTecnica
/JuegoPruebaTecnica/obj
/JuegoPruebaTecnica/bin/Release/net8.0
/.vs/ProjectEvaluation
